body {
  margin: 0;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/

/* Primary grid */
.main-area {
  display: grid;
  column-gap: 20px;
  grid-template-areas:
    "a a c"
    "b b c"
    "d e e"
    "d f f";
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;

  .entry {
    
    &:nth-of-type(1) {
      grid-area: a;
    }

    &:nth-of-type(2) {
      grid-area: b;
    }

    &:nth-of-type(3) {
      grid-area: c;
    }

    &:nth-of-type(4) {
      grid-area: d;
    }

    &:nth-of-type(5) {
      grid-area: e;
    }

    &:nth-of-type(6) {
      grid-area: f;
    }
  }
}


/* Secondary grid */
.entry {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .featured-image {
    grid-area: featured-image;
  }

  .info {
    grid-area: info;
  }

  &:nth-of-type(1),
  &:nth-of-type(5) {
    grid-template-areas: "featured-image info";
  }

  &:nth-of-type(2),
  &:nth-of-type(6) {
    grid-template-areas: "info featured-image";
  }

  &:nth-of-type(3),
  &:nth-of-type(4) {
    grid-template-areas: 
      "featured-image" 
      "info";
    grid-template-columns: 1fr;
    grid-template-rows: 350px 200px;
  }
}



/*--------------------------------------------------------------
General Styles
--------------------------------------------------------------*/

/* Logo */
.logo {
  margin: 0 auto;
  width: 200px;
}

.entry {
    background: #fff;
    border-radius: 18px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, .15);
    padding: 2em;
}

/* Featured image */
.featured-image {
  margin: 0 auto;

  img {
    max-height: 300px;
    width: auto;
  }
}

/* Info */
.info {
  margin: 2rem;
}

.name {
  color: #8325D0;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.title {
  color: #4c5b5c;
  margin: 0;
  text-transform: uppercase;
}

.description {
  margin: 0;
}

/* Credits */
.credits {
  background-color: #4c5b5c;
  color: #fff;
  padding: 2em 1em;
  text-align: center;

  a {
    color: #fff;

    &:hover {
      color: #f0c808;
    }
  }
}