/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
/* Primary grid (overall layout) */
.cards {
  display: grid;
  gap: 2em;
  justify-content: center;

  @media screen and (min-width: 660px) {
    grid-template-columns: repeat(2, minmax(auto, 360px));    
  }

  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(3, minmax(auto, 360px));    
  }
}

/*--------------------------------------------------------------
General Styles
--------------------------------------------------------------*/
body {
  margin: 0;
}

/* Logo */
.logo {
  margin: 0 auto;
  width: 200px;
}

/* Cards Container */
.cards {
  margin: 2em;
}

.card {  
    border: 5px solid white;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, .35);
}

/* Featured image */
.featured-image {

  img {
    max-height: 400px;
    width: auto;
  }
}

/* Info */
.info {
  background: hsla(246, 40%, 30%, .7);
  color: white;
  padding: 2em;

  &:hover,
  &:focus {
    background: hsla(335, 100%, 35%, 0.8);
  }
}

.name {
  font-size: 2rem;
  font-weight: 700;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
}

/* Colophon */
footer {
  background-color: #4c5b5c;
  color: #fff;
  width: 100vw;
}

.colophon aside {
  padding: 2em 1em;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;

  a {
    color: #fff;

    &:hover {
      color: #f0c808;
    }
  }
}