/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
/* Primary grid */
.main-area {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr; 
  margin: 2em auto;
  max-width: 1200px;

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);    
  }
}

/*--------------------------------------------------------------
General Styles
--------------------------------------------------------------*/
/* Typography */
.title {
  font-size: 2em;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Images */
.logo {
  margin: 0 auto;
  width: 200px;
}

.rivet img {
  height: auto;
  max-width: 100px;
}

.lake img {
  aspect-ratio: 2 / 3;
  max-width: 150px;
  object-fit: cover;
}

.moonscape img {
  aspect-ratio: 2 / 2;
  max-width: 500px;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: #4c5b5c;
  color: #fff;
}

.credits aside {
  padding: 2em 1em;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;

  a {
    color: #fff;

    &:hover {
      color: #f0c808;
    }
  }
}