body {
  margin: 0;
}

/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/
/* Primary grid (overall layout) */
.cards {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(3, 400px);
  margin: 2em;
  justify-content: center;
}


/* Secondary grid (card layout) */
.card {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;

  > * {
    grid-column: 1;
    grid-row: 1;
  }
}

/*--------------------------------------------------------------
General Styles
--------------------------------------------------------------*/

/* Logo */
.logo {
  margin: 0 auto;
  width: 200px;
}

.card {
    background: #fff;
    border-radius: 18px;
    box-shadow: 2px 1px 10px rgba(0, 0, 0, .35);
    padding: 2em;
}

/* Featured image */
.featured-image {

  img {
    max-height: 200px;
    width: auto;
  }
}

/* Info */
.info {
  background-color: rgba(255,255,255, .8);
  text-align: center;

}

.name {
  font-size: 1.5rem;
  font-weight: 700;
}

.title {
  color: #555;
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.description {
  font-size: .9rem;
}

/* Colophon */
footer {
  background-color: #4c5b5c;
  color: #fff;
  width: 100vw;
}

.colophon aside {
  padding: 2em 1em;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;

  a {
    color: #fff;

    &:hover {
      color: #f0c808;
    }
  }
}