
/*--------------------------------------------------------------
Layout
--------------------------------------------------------------*/

/* Primary grid */
.cards {
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "card1 card1 card3"
    "card2 card2 card3"
    "card4 card5 card5"
    "card4 card6 card6";
  row-gap: 60px;
}

/*--------------------------------------------------------------
General Styles
--------------------------------------------------------------*/
body {
  margin: 0;
}

.site {
  margin: 2em auto;
  max-width: 1200px;
}

/* Logo */
.logo {
  margin: 0 auto;
  width: 200px;
}

.card {
    background: #fff;
    border: 2px solid #bdbdbd;
    border-radius: 18px;
    padding: 2em;
}

/* Featured image */
.featured-image {

  img {
    max-height: 300px;
    width: auto;
  }
}

/* Info */
.name {
  font-size: 2rem;
  font-weight: 700;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.description {
  font-size: .9em;
  margin: 0;
}

footer {
  background-color: #4c5b5c;
  color: #fff;
  width: 100vw;
}

.credits aside {
  padding: 2em 1em;
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;

  a {
    color: #fff;

    &:hover {
      color: #f0c808;
    }
  }
}